.botaoDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 12px;
    box-sizing: border-box;
}

.botao {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
    background: linear-gradient(90deg, #ff7e00 0%, #ff0000 50%, #ff7e00 100%);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 20px rgba(255, 126, 0, .5);
}