.downsell {
    background: #000;
}
.downsell .cta {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 4px 12px;
    box-sizing: border-box;
    z-index: 1000;
}
.botaoOut {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.botao {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
    background: linear-gradient(90deg, #ff7e00 0%, #ff0000 50%, #ff7e00 100%);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 4px 20px rgba(255, 126, 0, .5);
}