.offer {
    background: #000;
}
.offer .cards {
    display: flex;
    flex-direction: column;
}
.offer .offerDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.offer .cardsData {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}