.metabolic {
    background: #141414;
}
.metabolic .bgDark {
    background: linear-gradient(180deg, #141414 0%, #000 5%);
}
.metabolic .productOffer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #000;
    margin-bottom: 32px;
}
.metabolic .bg {
    background-color: #000;
}
.metabolic .cards {
    margin-top: 32px;;
}