.header {
    position: relative;
}
.header img {
    width: 100%;
}
.header img.imagePc {
    display: none;
}
.header .text {
    padding: 12px;
    margin-top: -120px;
}
.header .text.mtop {
    margin-top: -62px;
}
.header .logo {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 180px;
}
header h1 {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    margin: 0;
}
header h1 span.coloredTitle {
    color: #ff7e00
}
header h3 {
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
    font-size: 16px;
}
header a {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
    background: linear-gradient(90deg, #ff7e00 0%, #ff0000 50%, #ff7e00 100%);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 20px rgba(255, 126, 0, .5);
}