.footer {
    background: #000;
    padding: 48px 0 24px 0;
    color: #fff;
    opacity: .8;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p {
    text-align: center;
    margin: 0;
    max-width: 80%;
}