.testimonialsDiv {
    padding: 12px;
    margin-bottom: 24px;
}
.testimonialsDiv h2 {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}
.testimonials {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 2px solid #ff7e00;
    border-radius: 12px;
    color: #fff;
}
.testimonials h4 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0;
}
.testimonials h5 {
    font-weight: 400;
    font-size: 16px;
    color: #ff7e00;
    margin: 0;
}
.testimonials p {
    font-weight: 300;
}
.testimonialsDiv ul {
    padding: 0;
    margin: 0;
    margin-top:  32px;
    display: flex;
    justify-content: center;
    gap: 12px;
    list-style: none;
}
.testimonialsDiv ul li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
}
.testimonialsDiv ul li.actived {
    background: rgba(255, 0, 0, .2);
}